<div id="main_page">
	<div id="main_head">
		<div class="head_back">
			<div class="button_base button_resume"><div></div></div>
		</div>
		<div class="head_title"></div>
		<div class="head_ctrl"></div>
	</div>
	<div id="main_error" class="view_hasHead">
	</div>
	<div id="main_start" class="view_hasHead">
		<div class="grid_main">
			<div class="grid_head">
				<div class="head_ttl"></div>
				<div class="head_img"></div>
				<div class="head_dsc"></div>
			</div>
			<div class="grid_cont">
				<div class="grid_body">
					<div class="grid_item"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="main_group" class="view_hasHead">
		<div class="grid_main">
			<div class="grid_head">
				<div class="head_ttl"></div>
				<div class="head_img"></div>
				<div class="head_lnk"></div>
				<div class="head_dsc"></div>
			</div>
			<div class="grid_cont">
				<div class="grid_body">
					<div class="grid_item"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="main_groups" class="view_hasHead">
		<div class="grid_main">
			<div class="grid_cont">
				<div class="grid_body">
					<div class="grid_item"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="main_item" class="view_hasHead">
		<div class="item_main">
			<div class="item_body">
				<div class="item_info">
					<div class="item_sttl"></div>
					<div class="item_price"></div>
					<div class="item_link"></div>
					<div class="item_desc"></div>
					<div class="item_colr cf">
						<div class="item_colr_titl">Colors</div>
						<div class="item_colr_cont"></div>
					</div>
					<div class="item_size cf">
						<div class="item_size_titl">Sizes</div>
						<div class="item_size_cont"></div>
					</div>
				</div>
				<div class="item_revw">
					<div class="item_revw_titl">Reviews</div>
					<div class="item_revw_rgrp"></div>
				</div>
				<div class="item_imgs">
					<div class="item_imgs_main"></div>
					<div class="item_imgs_thmb"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="main_search">
		<div class="search_main">
			<div class="search_title">Search</div>
			<div class="search_box"><input type="text" /><div class="button_go"></div></div>
			<div class="search_results"></div>
		</div>
	</div>
	<div id="main_play"></div>
</div>