<div id="main_start" class="view_hasHead grid_start" asv-grid-view template-type="grid_start" head-item="currentAd" body-items="currentAd.productGroupTimeLine" ng-init="initStartView()" style="height:100%">
	<!-- <div class="grid_main">
		<div class="grid_head">
			<div class="head_ttl"></div>
			<div class="head_img"></div>
			<div class="head_dsc"></div>
		</div>
		<div class="grid_cont">
			<div class="grid_body">
				<div class="grid_item"></div>
			</div>
		</div>
	</div> -->
	<!-- <a ui-sref="productGroup({videoId:1, productGroupId:1})"></a> -->
	<div class="grid_main">
		<div class="grid_head">
			<a ng-click="startVideo()">
				<div class="head_ttl">{{currentAd.name}}</div>
				<div class="head_img"><img ng-src="{{currentAd.thumbnail}}" /></div>
				<div class="head_dsc">{{currentAd.description}}</div>
			</a>
		</div>
		<div class="grid_cont">
			<div class="grid_body">
				<div class="grid_col" asv-grid-item ng-repeat="item in currentAd.productGroupTimeLine">
					<div class="grid_item" >
						<a ng-click="startVideo(item)">
							<img ng-src="{{ item.thumbnail }}" />
							<div class="grid_item_ovr">
								<div class="grid_item_ttl">
										{{ item.title }}
								</div>
								<div class="grid_item_dsc">
										{{ item.subtitle }}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
