<div id="main_page">
	<div id="main_head">
		<div ng-include="'views/navbar.html'" include-replace></div>
	</div>
	<div id="main_error" class="view_hasHead" ng-if="error">
		{{error}}
	</div>
	<div id="main_start" class="view_hasHead" sv-grid-view item-length="ads.length" item="sv-grid-item">
		<div class="grid_main">
			<div class="grid_head">
				<a ui-sref="productGroup.view({id:currentAd.ID})">
					<div class="head_ttl">{{currentAd.Name}}</div>
					<div class="head_img"><img ng-src="{{currentAd.Thumbnail}}" /></div>
					<div class="head_dsc">{{currentAd.Description}}</div>
				</a>
			</div>
			<div class="grid_cont">
				<div class="grid_body">
					<div class="grid_item" sv-grid-item ng-repeat="item in ads">
						<a ui-sref="productGroup.view({id:item.ID})">
							<img ng-src="{{item.Thumbnail}}" />
							<div class="grid_item_ovr">
								<div class="grid_item_ttl">
										{{item.Name}}
								</div>
								<div class="grid_item_dsc">
										{{item.Description}}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="main_search" ng-if="searchPanel">
		<div ng-include="'views/search.html'" include-replace> </div>
	</div>
</div>
