<div id="main_start" class="view_hasHead grid_start" asv-grid-view template-type="grid_start" head-item="currentAd" body-items="currentAd.productGroupTimeLine" ng-init="initStartView()" style="height:100%">
	<div class="grid_main">
		<div class="grid_head">
			<a ng-click="startVideo(mainProject)">
				<div class="head_ttl">{{mainProject.name}}</div>
				<div class="head_img"><img ng-src="{{mainProject.thumbnail.url}}" /></div>
				<div class="head_dsc">{{mainProject.description}}</div>
			</a>
		</div>
		<div class="grid_cont">
			<div class="grid_body">
				<div class="grid_col" asv-grid-item ng-repeat="project in projects" ng-if="$index>0">
					<div class="grid_item" >
						<a ng-click="startVideo(project)">
							<img ng-src="{{ project.thumbnail.url }}" />
							<div class="grid_item_ovr">
								<div class="grid_item_ttl">
										{{ project.name }}
								</div>
								<div class="grid_item_dsc">
										{{ project.description }}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
