<div class="head_back" ng-show="navbar.showVideoResumeButton">
	<div class="button_base button_resume" id="play_video" ng-init="playControlInit()" ng-click="resumePlayer()"><div></div></div>
</div>
<div class="head_title"> {{ navbar.headerTitle }}</div>
<div class="head_ctrl">
	<div class="button_base button_locate" ng-show="navbar.showProjectGroup" ng-click="seekAndPlay()"> <div></div> Seek and play </div>
	<div class="button_base button_prev" ng-show="navbar.showProjectGroup" ng-class="{'disabled': navbar.disablePrev}" ng-click="showPrevious()"> <div></div> Previous</div>
	<div class="button_base button_all" ng-show="navbar.showProjectGroup" ng-click="showAllProductGroup()"><div></div> All groups </div>
	<div class="button_base button_next" ng-show="navbar.showProjectGroup" ng-class="{'disabled': navbar.disableNext}" ng-click="showNext()"><div></div> Next </div>
	<div class="button_base button_up" ng-show="navbar.showItem" ng-click="gobackToProductGroup()"><div></div>Back to group</div>
	<div class="button_base button_start" ng-show="navbar.showProjectGroup || navbar.showProjectGroups	|| navbar.showItem" ng-click="gotoHome()"><div></div> Home </div>
	<div class="button_base button_search" ng-click="toggleSearchPanel()"><div></div> Search </div>
</div>