<div id="main_item" class="view_hasHead" style="height:100%;" ng-init="initProductItemView()">
	<div class="item_main">
		<div class="item_body">
			<div class="item_info">
				<div class="item_sttl">{{ currentProduct.name }}</div>
				<div class="item_price">{{ currentProduct.price.PriceValue }}</div>
				<div class="item_link"><a class="button_buy" href="{{ currentProduct.makeThisYourLookURL }}" target="_blank">Make this your look!</a></div>
				<div class="item_desc">{{ currentProduct.description }}</div>
				<div class="item_colr cf" ng-if="currentProduct.productColors.length">
					<div class="item_colr_titl">Colors</div>
					<div class="item_colr_cont">
						<div class="item_colr_item" ng-repeat="color in currentProduct.productColors" ng-style="{'background-color': color.colorValue}"></div>
					</div>
				</div>
				<div class="item_size cf" ng-if="currentProduct.sizes.length">
					<div class="item_size_titl">Sizes</div>
					<div class="item_size_cont">
						<div class="item_size_item" ng-repeat="size in currentProduct.sizes">{{ size }}</div>
					</div>
				</div>
			</div>
			<div class="item_revw" ng-if="currentProduct.reviews.length" ng-init="reviewsLoaded()">
				<div class="item_revw_titl">Reviews</div>
				<div class="item_revw_rgrp">
					<div class="item_revw_item" ng-repeat="review in currentProduct.reviews">
						<div class="item_revw_item_name">{{ review.reviewTitle }}</div>
						<div class="item_revw_item_rtng">
							<div class="item_revw_item_rtng_pos" ng-repeat="i in getNumber(review.reviewRating) track by $index"></div>
							<div class="item_revw_item_rtng_neg" ng-repeat="i in getNumber(5 - review.reviewRating) track by $index"></div>
						</div>
						<div class="item_revw_item_desc">{{ review.reviewText }}</div>
					</div>
				</div>
			</div>
			<div class="item_imgs" ng-init="imagesLoaded()">
				<div class="item_imgs_main"><img ng-src="{{ currentMainImage }}"></div>
				<div class="item_imgs_thmb">
					<img ng-src="{{ image }}" class="item_thmb" ng-repeat="image in currentProduct.productImages" ng-class="{selected: image==currentMainImage}" ng-click="updateMainImage(image)">
				</div>
			</div>
		</div>
	</div>
</div>